

{% comment %} {% block content %} {% endcomment %}

{% comment %} how to loop on the 0,1,2,3
how to use capabilities endpoint
{% endcomment %}
{% comment %} {{weather}} {% endcomment %}
{% comment %} {{weather}} {% endcomment %}

<table>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <tr>
      {% for data in context.header %}
          <th> {{data}}</th>       
      {% endfor %}        
    </tr>
   
 
    {% for temp in context.weather_data %}
    <tr>
       {% for value  in temp %}
        <td> {{value}}</td> 
        {% endfor %}   
      </tr>   
    {% endfor %}        
     
  

</table>



{% comment %} {% endblock content %} {% endcomment %}